{% extends 'internal_shell/base.html' %}
{% load static %}
{% block app_styles %}<link rel="stylesheet" href="{% static 'system/management.css' %}?v=1">{% endblock %}
{% block shell_class %}management-layout{% endblock %}
{% block main_class %}main-column{% endblock %}
{% block workspace_class %}workspace{% endblock %}
{% block sidebar_nav %}
  <a{% if request.resolver_match.url_name == 'home' %} class="is-active"{% endif %} href="{% url 'management_portal:home' %}">首页</a>
  <a{% if request.resolver_match.url_name == 'user_list' or request.resolver_match.url_name == 'user_detail' %} class="is-active"{% endif %} href="{% url 'management_portal:user_list' %}">用户管理</a>
  <a{% if request.resolver_match.url_name == 'deletion_list' %} class="is-active"{% endif %} href="{% url 'management_portal:deletion_list' %}">注销申请</a>
  <div class="internal-nav__section">系统</div>
  <a href="{% url 'admin:index' %}">高级数据管理</a>
{% endblock %}
{% block mobile_nav %}
  <a href="{% url 'management_portal:home' %}">首页</a>
  <a href="{% url 'management_portal:user_list' %}">用户管理</a>
  <a href="{% url 'management_portal:deletion_list' %}">注销申请</a>
  <div class="internal-nav__section">系统</div>
  <a href="{% url 'admin:index' %}">高级数据管理</a>
{% endblock %}
